body{
    margin: 0;
    padding: 0;
    background: black;
}
.box{
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 560px;
    background: White;
    overflow: hidden;
}
.inline-text{
    color: white;
    position: absolute;
    top: 32px;
    left: 55px;
}
.inline-text h1{
    font-size: 25px;
    margin-bottom: 20px;
}
.inline-text p{
    color: rgb(228, 228, 228);
    opacity: 0.9;
    font-size: 13px;
    letter-spacing: 1px;
}
.box1{
    background: url(//imgla.fliccart.com/www/linchpin/fk-cp-zion/img/login_img_dec4bf.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2874f0;
}
.box2 .user-id{
    position: relative;
    left: 20px;
    top: 50px;
    padding: 10px 20px;
}
.box2 .user-id input{
    width: 100%;
    height: 40px;
}
.box2 .user-data input{
    /* font-size: 18px; */
    color: black;
    border: none;
    border-bottom: 1px solid rgb(228, 228, 228);
    outline: none;
    transition: 0.5s;
    margin-bottom: 20px;
}
.box2 .uaer-data label{
    color: rgb(158, 154, 154);
    padding: 10px 20px;
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 18px;
    font-weight: 400;
    pointer-events: none;
    transition: 0.5s;
}
.box2 .user-data .input:focus ~label,
.box2 .user-data .input:valid ~label{
    top: -20px;
    font-size: 12px;
}
.box2 .user-data input:focus{
    border-bottom: 1px solid #2874f0;
} 
.box2 span a{
    position: absolute;
    top: 140px;
    left: 315px;
    display: inline;
    color: #2874f0;
    font-weight: 600;
}
.box2 .button input{
    width: 330px;
    height: 50px;
    font-size: 18px;
    border: none;
    background: white;
}
.user-id p{
    font-size: 12px;
    color: rgb(173, 173, 173);
}
.box2 .button input[type=submit]{
    background: rgb(255, 81, 0);
    border-radius: 2px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    transition: 0.5s;
    margin-top: none;
}
.box2 .button input[type=reset]{
    box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
    border-radius: 2px;
    color: #2874f0;
    font-weight: 600;
    outline: none;
    transition: 0.5s;
}
.box2 .button input[type=submit]:hover{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
}
.box2 .button input[type=reset]:hover{
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.2);
}
